.main {
  background-color: bisque;

  padding: 10px;
  width: 70%;
  margin: auto;

  border-width: 10px;
  border-color: red green blue black;
  border-style: solid dashed;

  /* Shorthand */
  border: 1px solid red;
}
